<footer>
  <section id="contact"> 
 <div class="container-fluid">
    <div class="row"> 
       <div class="col-sm-9">
         <div class="contactwrap col-sm-12">
            <div class="contactus-content text-center">
              <h2>Contact</h2>
            </div>
           <div class="conatctform col-sm-12">
              <form>
                <div class="col-sm-12 clear-padding">
                  <div class="form-group clear-padding col-sm-6">
                    <input type="text" class="form-control" id="usrname" placeholder="Name">
                  </div>
                 <div class="form-group lastnamebox col-sm-6">
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                  </div>
                </div>
                 <div class="form-group">
                  <input type="email" class="form-control" id="mail" placeholder="Email">
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="3" id="comment" placeholder="Comments"></textarea>
                </div>
                <div class="submitform text-center">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
                 
              </form>
         
           </div>
         </div>
         <div class="contact-details">
           <div class="col-sm-6">
             <div class="contdetail-inner text-center">
               <ul>
                 <li><h3>Contact Us</h3></li>
                 <li>231, Sydney Cove Australia</li>
                 <li>12345605588</li>
                 <li><img src="assets/images/Laundrywalla.png"></li>
               </ul>
             </div>
           </div>
            <div class="col-sm-6">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60965939.32655293!2d95.32360497485057!3d-21.14978619312925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2sin!4v1510253990666" width="100%" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>       
         </div> 
      </div>
      <div class="col-sm-3 clear-padding">
        <div class="contact-rgtoverlay">
          
        </div>
      </div>
    </div>
  </div> 

<div class="copywrite text-center">
  <p>Copyright © 2017 Laundry Walla</p>
</div>
</section>

</footer>

