<section id="loginforget-password">
    <div class="log-forget-bg">
      <div class="container-fluid">
        <div class="row">

            <div class="col-sm-9">
     <div class="login-forget-psw-header">
          </div>
          <div class="login-forget-psw-wrapper">
            <div class="login-forget-psw-icon">
              <img src="assets/img/loginforgetpsw.png" alt="psw-icon" />
            </div>
            <div class="loginforget-psw-heding text-center">
              <p>Please enter Your email to send password!</p>
            </div>
            <div class="login-forget-psw-form">
              <form>
                <div class="form-group">
                  <input type="Email" class="form-control" id="email-log-forget-psw" placeholder=" Email">
                  <!-- <span>*Please enter Email</span> -->
                </div>
                <button type="button" class="login-forget-psw-button btn-block">send</button>
              </form>
              <div class="text-center gobacksec">
                <a class="go-back text-center" routerLink="/login">Go back!</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 clear-padding">
          <div class="loginforgot-rgtoverlay">
           <!--  <h2>About Us</h2> -->
          </div>
        </div>
       
          <!--end wrapper-->
        </div>
        <!--end of row-->
      </div>
      <!-- end container -->
    </div>
  </section>
  <!--end -->